/*-----CSS STANDARDS-----*/
/*Naming: 

Names of parent classes returned from a React component are capitalized, and use underscores when needed to seperate.
Names of children classes or classes created within the html doc conform to lowercase with underscore seperation


/*-----IMPORTS-----*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&family=Poppins:ital,wght@0,400;0,700;1,100&display=swap');

/*-----CSS RESET----*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, center, ol, ul, li, form, label, footer, header, nav{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: #c4bbb8;}
    
/*----- HTML5 DR Reset-----*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  position: absolute;
}
ol, ul {
	list-style: none;
}

/*-----Global Styles-----*/
html { font-size: 100%; }

h1 { font-size: 2em; }

/* CSS HEX */
/* --onyx: #303634ff;
--black-olive: #3a413eff;
--crimson-ua: #ac0c2cff;
--redwood: #ad5d4eff;
--pale-silver: #c4bbb8ff; */


/* font-family: 'Poppins', sans-serif;

font-family: 'PT Serif Caption', serif; */
.App {

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #303634;
    font-size: 0.75em;
    background-image: url();
    background-repeat: no-repeat;
    color: #303634ff;
    
}
.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Navbar li, a {
    font-size: 1.2em;
    padding: 3px;
    text-decoration: none;
    
    ;
}
.Heading_h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 6em;
}
.Home_content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex: 1;
    background-image: url(./images/M2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
 }
.User {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex: 1;
    background-image: url(./images/M1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
 .Content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .5rem .5rem;
    grid-template-areas:
      "."
      ".";
    border-radius: 20px; 
   ;
    width: 80vw;
    margin: auto;
 }
.Card {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: .5rem;
    margin: .5rem;
    width: 60vw;
    border-radius: 5px; 
    background: #3a413eff;
    justify-content: space-between;
    font-size: 20px;
    box-shadow: rgb(17, 19, 18) 3px 3px 5px;
    font-weight: bolder;
}
.card_details
.card_content
.card_title {
    font-family: 'PT Serif Caption', serif;
    font-weight: bolder;
}
.card_subtitle
.sub_card{
    display: flex;
    flex-direction: column;
    font-family: 'PT Serif Caption', serif;
    font-size: large;
}
.Hero_text {
   flex: .5;
}
 .Footer {
    font-size: 1.5em;
 }
 .Footer :is(a, li) {
    font-size: 1.5em;  /*NOT WORKING*/
 }

 /*----OUT OF ORDER-----*/
 a, a:visited, a:hover, a:active {
    color: inherit;
  }

  .Routine-Content{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 20px;
  flex: 1;
  background-image: url(./images/M3.svg);
  background-size: cover;
  background-repeat: no-repeat;
  }
/*AC content may be a redundant rule*/
  .Activities-Content{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex: 1;
    background-image: url(./images/M4.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }


.actionButton {
	box-shadow: 0px 1px 3px 0px #999290;
	background:linear-gradient(to bottom, #c4bbb8ff 5%, rgb(107, 102, 100) 100%);
	/* background-color:c4bbb8ff; */
	border-radius:5px;
	border:1px solid rgb(58, 54, 53);
	display:inline-block;
	cursor:pointer;
	color:#303634;
	font-family: 'PT Serif Caption', serif; 
	font-size:13px;
	padding:7px 10px;
	text-decoration:none;
  max-width: fit-content;
	
}
.actionButton:hover {
	background:linear-gradient(to bottom, #c4bbb8 5%, #ad5c4e 100%);
	background-color:#c4bbb8;
}


.hide {
    display: none;
}

.create-text{
    font-family: 'PT Serif Caption', serif;
    font-size: 1.3em;
}

.actionModal {
  position: relative;
  left: 15%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 1px 3px 0px #999290;
	background:linear-gradient(to bottom, #c4bbb8ff 5%, rgb(107, 102, 100) 100%);
	/* background-color:c4bbb8ff; */
	border-radius:5px;
	border:1px solid rgb(58, 54, 53);
	display:inline-block;
	cursor:pointer;
	color:#303634;
	font-family: 'PT Serif Caption', serif; 
	font-size:13px;
	padding:7px 10px;
	text-decoration:none;
  width: 60vw;
  height: 60vh;
}

.modalContent {
  background: linear-gradient(to bottom, #c4bbb8ff 5%, rgb(107, 102, 100) 100%)
}
