/*-----CSS STANDARDS-----*/
/*Naming: 

Names of parent classes returned from a React component are capitalized, and use underscores when needed to seperate.
Names of children classes or classes created within the html doc conform to lowercase with underscore seperation


/*-----IMPORTS-----*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&family=Poppins:ital,wght@0,400;0,700;1,100&display=swap');

/*-----CSS RESET----*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, center, ol, ul, li, form, label, footer, header, nav{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

/*----- HTML5 DR Reset-----*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/*-----Global Styles-----*/
html { font-size: 100%; }
body {

}
h1 { font-size: 2em; }

/* CSS HEX */
/* --rich-black-fogra-29: #061c23ff;
--dark-green-x-11: #0f6006ff;
--platinum: #ebebebff;
--azure-x-11-web-color: #d9f4fcff; */


/* SCSS RGB */
/* $rich-black-fogra-29: rgba(6, 28, 35, 1);
$dark-green-x-11: rgba(15, 96, 6, 1);
$platinum: rgba(235, 235, 235, 1);
$azure-x-11-web-color: rgba(217, 244, 252, 1); */

/* font-family: 'Poppins', sans-serif;

font-family: 'PT Serif Caption', serif; */
.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #661414;
    font-size: 0.75em;
    color: white;
}
.Login-btn {
    margin: auto;
    list-style: none;
}
.App-Header {
   
}
.Navbar {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}
.Navbar li, a {
    font-size: 1.2em;
    padding: 3px;
    text-decoration: none;
    border: solid, rgb(255, 255, 255), 3px;
    
    
}
.Heading_h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 6em;
}
.Home_content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex: 1;
    background-image: url(./images/plant.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
 }
.User {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex: 1;
    background-image: url(./images/dirt.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
 .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      ".";
    background: #d9f4fcff;;
    border-radius: 20px; 
    border: 2px solid #73AD21;
    width: 80vw;
    margin: auto;
 }
 
.Card {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10 px;
    border-radius: 20px; 
    border: 2px solid #73AD21;
    margin: 15px;
    padding: 5px;
    
}
.card_details
.card_content
.card_title
.card_subtitle

.Hero_text {
   flex: .5;
}
 .Footer {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    margin: auto;
 }
 .Footer :is(a, li) {
    font-size: 1.5em;  /*NOT WORKING*/
 }