/*-----CSS STANDARDS-----*/
/*Naming: 

Names of parent classes returned from a React component are capitalized, and use underscores when needed to seperate.
Names of children classes or classes created within the html doc conform to lowercase with underscore seperation


/*-----IMPORTS-----*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&family=Poppins:ital,wght@0,400;0,700;1,100&display=swap');

/*-----CSS RESET----*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, center, ol, ul, li, form, label, footer, header, nav{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: #c4bbb8;}
    

/*----- HTML5 DR Reset-----*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/*-----Global Styles-----*/
html { font-size: 100%; }
body {

}
h1 { font-size: 2em; }

/* CSS HEX */
/* --onyx: #303634ff;
--black-olive: #3a413eff;
--crimson-ua: #ac0c2cff;
--redwood: #ad5d4eff;
--pale-silver: #c4bbb8ff; */


/* font-family: 'Poppins', sans-serif;

font-family: 'PT Serif Caption', serif; */
.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #303634;;
    font-size: 0.75em;
    background-image: url();
    background-repeat: no-repeat;
}
.App-Header {
   
}
.Navbar {
    display: flex;
    flex-direction: row;
}
.Navbar li, a {
    font-size: 1.2em;
    padding: 3px;
    text-decoration: none;
    border: solid, black, 3px; 
    ;
}
.Heading_h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 6em;
}
.Home_content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex: 1;
    background-image: url(./images/M2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
 }
.User {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex: 1;
    background-image: url(./images/M1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
 .Content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .5rem .5rem;
    grid-template-areas:
      "."
      ".";
    border-radius: 20px; 
   ;
    width: 80vw;
    margin: auto;  
 }
.Card {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: .5rem;
    width: 60vw;
    border-radius: 5px; 
    background: #5e626e;
    justify-content: space-between;  
}
.card_details
.card_content
.card_title
.card_subtitle
.sub_card{
    display: flex;
    flex-direction: column;
    font-family: 'PT Serif Caption', serif;
    font-size: large;
}
.Hero_text {
   flex: .5;
}
 .Footer {
    font-size: 1.5em;
 }
 .Footer :is(a, li) {
    font-size: 1.5em;  /*NOT WORKING*/
 }

 /*----OUT OF ORDER-----*/
 a, a:visited, a:hover, a:active {
    color: inherit;
  }

  .Routine-Content{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  flex: 1;
  background-image: url(./images/M3.svg);
  background-size: cover;
  background-repeat: no-repeat;
  }
/*AC content may be a redundant rule*/
  .Activities-Content{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex: 1;
    background-image: url(./images/M4.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }